
CheckSubstringIsInTheGivenString/.vs/CheckSubstringIsInTheGivenString/v15/Server/sqlite3/storage.ide-wal
CheckSubstringIsInTheGivenString/.vs/CheckSubstringIsInTheGivenString/v15/Server/sqlite3/storage.ide
CheckSubstringIsInTheGivenString/.vs/CheckSubstringIsInTheGivenString/v15/Server/sqlite3/db.lock
CheckSubstringIsInTheGivenString/.vs/CheckSubstringIsInTheGivenString/v15/.suo
CheckSubstringIsInTheGivenString/.vs/CheckSubstringIsInTheGivenString/v15/Server/sqlite3/storage.ide-shm
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/CheckSubstringIsInTheGivenString.pdb
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/CheckSubstringIsInTheGivenString.exe
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/bin/Debug/CheckSubstringIsInTheGivenString.pdb
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/bin/Debug/CheckSubstringIsInTheGivenString.exe
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/CheckSubstringIsInTheGivenString.csproj.CoreCompileInputs.cache
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/CheckSubstringIsInTheGivenString.csproj.FileListAbsolute.txt
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/CheckSubstringIsInTheGivenString.csprojAssemblyReference.cache
CheckSubstringIsInTheGivenString/CheckSubstringIsInTheGivenString/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
